body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #cacccc;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#content {
	margin: 10px;
	border-color: rgba(0, 0, 0, 0.68);
    border-style: solid;
    border-width: 3px;
    background: rgba(95, 132, 165, 0.92);
    padding: 5px;
}

.folder {
	margin: 3px;
	border-color: rgba(0, 0, 0, 0.68);
    border-style: solid;
    border-width: 0.5px;
    background: rgb(218, 225, 230);
    margin: 10px;
    padding: 3px;
}

.file {
	margin: 3px;
	border-color: rgba(0, 0, 0, 0.68);
    border-style: solid;
    border-width: 0.5px;
    background: rgb(218, 225, 230);
    margin: 10px;
    padding: 3px;
}

.file div{
	display: inline-block;
	margin-left: 10px;
}

.folder div{
	display: inline-block;
	margin-left: 10px;
}

#root  {
	margin: 10px;
	border-color: rgba(0, 0, 0, 0.68);
    border-style: solid;
    border-width: 3px;
    background: rgba(95, 132, 165, 0.92);
    padding: 5px;
}

#root div{
	display: inline-block;
}

#upload-file {
  margin-left: 120px;
  margin-right: 120px;
}

#upload-form {
  visibility: hidden;
}